@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300;400;700&display=swap');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html, body{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #DDE7F9;
}

.title{
    font-family: 'Poiret One', cursive;
}

#root{
    height: 100%;
}
.bg-primary, .btn-primary{
    background-color: #131823 !important;
}
.text-primary{
    color: #131823 !important;
}
.auth-card{
    width: 100%;
    max-width: 460px;
}